html {
  overflow-x: hidden;
}
body {
  font-size: 14px;
  font-family: $font;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  overflow-x: hidden;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
}

// .visually-hidden {
//   position: absolute;

//   width: 1px;
//   height: 1px;
//   margin: -1px;
// border: 0;
// padding: 0;

//   white-space: nowrap;
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: $header-color;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.container {
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  .document-header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    width: 768px;

    .document-header & {
      justify-content: center;
    }

    .document-footer & {
      align-items: baseline;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;

    .document-footer & {
      display: flex;
    }
  }
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.878;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: $footer-color;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $button-hero-hover;
  }

  form & {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero & {
    padding: 10px 32px;
  }

  .document-footer & {
    margin: 0 auto;
  }
}
