$primary-text-color: #757575;
$header-color: #212121;
$accent-color: #2196f3;
$footer-color: #ffffff;
$footer-link-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$button-color: #f5f4fa;
$button-hero-hover: #188ce8;
$bg-color: #e5e5e5;
$bg-portfolio: #eeeeee;
$border-color: #ececec;
$card-margin: 30px;
$icon: #afb1b8;
$icon-social-bg: rgba(255, 255, 255, 0.1);
$bg-overlay: rgba(47, 48, 58, 0.8);
$bg-portfolio-overlay: rgba(33, 150, 243, 0.9);
$bg-modal: rgba(0, 0, 0, 0.2);
$font: 'Roboto', sans-serif;
$font-accent: 'Raleway', sans-serif;
$border-header-social: rgba(33, 33, 33, 0.2);
